HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

**/.idea/
**/bower_components/
**/node_modules/
**/target/
**/coverage-reports
**/.settings/
**/.tmp/
**/.baseDir.ts
**/.tscache/
**/*.log
**/*.tree
JArchitectOut
.vagrant

.classpath
.project
.settings
*.log
*.iml
**/yarn.lock

**/jacoco.exec

*.releaseBackup
release.properties

*.class
